.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #fff;
  height: 30px;
  -webkit-app-region: drag; /* makes it draggable */
  margin: 0;
}

.window-controls button {
  background: transparent;
  color: white;
  border: none;
  width: 40px;
  height: 30px;
  -webkit-app-region: no-drag; /* buttons must be clickable */
  cursor: pointer;
}

.window-controls button:hover {
  background: #444;
}